.sidebar {
    width: 30vw;
}

/* /////////////////////////////////////////////////////// */

/*CONTENEDOR CENTRAL*/

.headline {
    margin-top: 200px;
}

.title-container {
    text-align: left;
    font-size: 35px;
    margin-right: 10px;
    color: white;
    margin-left: 50px;
}

@media (min-width: 651px) and (max-width: 1224px) {
    .headline {
        margin-top: 50px;
    }

    .title-container {
        font-size: 30px;
        margin-right: 0;
        margin-left: 50px;
    }
}

@media (max-width: 650px) {
    .headline {
        margin-top: 50px;
    }

    .title-container {
        font-size: 20px;
        margin-right: 0;
        margin-left: 48px;
    }
}

/* /////////////////////////////////////////////////////// */

/*TEXTO ANIMACION CENTRAL*/

.animacion-headline {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    transform: translateX(0);
    position: absolute;
    left: 50px;
}

.typed-letra {
    display: inline-block;
    font-size: 80px;
    font-weight: bold;
    white-space: nowrap;
    text-align: left;
    transform: translateX(0);
}

.typed-cursor {
    opacity: 1;
    animation: blink 1s infinite;
    color: #e54912;
    font-size: 80px;
    text-align: left;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 651px) and (max-width: 1224px) {

    .typed-letra,
    .typed-cursor {
        font-size: 50px;
    }
}

@media (max-width: 650px) {

    .typed-letra,
    .typed-cursor {
        font-size: 35px;
    }
}

/* /////////////////////////////////////////////////////// */

/* BOTONES CENTRALES */

.btn-central {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    background-color: black;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    margin: 10px 0;
    position: relative;
    margin-top: 60px;
}

.btn-central:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: black;
    border-radius: 15px;
    z-index: -1;
}

.btn-caption {
    vertical-align: middle;
}

ul.cieloLista.show.escondo-header li a[data-bs-target="#offcanvas5"],
ul.cieloLista.show.escondo-header li a[data-bs-target="#offcanvas6"],
ul.cieloLista.show.escondo-header li a[data-bs-target="#offcanvas7"] {
    color: #000000;
}

ul.cieloLista.show.escondo-header li a.btn-central.btn-solid {
    color: white;
    background-color: #c0c0c0;
    transition: background-color 0.3s ease;
}

ul.cieloLista.show.escondo-header li a.btn-central.btn-solid:hover {
    background-color: #ef6534;
    color: #ef6534;
}

ul.cieloLista.show.escondo-header li a.btn-central.btn-solid::after {
    background-color: transparent !important;
}

/* /////////////////////////////////////////////////////// */

/* PROYECTOS */

#projects {
    max-width: 1100px;
    padding: 0px 0;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 50px;
}

.project {
    background-color: black;
    border-radius: 4px;
}

#projects .title-section {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
}

#projects .row {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    max-height: 1500px;
    flex-wrap: wrap;
    gap: 50px;
}

#projects .row .project {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

#projects .row .project img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 5px;
    border: 2px solid gray;
}

#projects .row .project:hover img {
    filter: grayscale(0.7);
    filter: blur(2px);
}

#projects .row .project .info {
    position: absolute;
    left: 0;
    background-color: rgba(49, 49, 49, 0.95);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: 0.5s;
}

#projects .row .project .info .links a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

#projects .row .project .info .links {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-weight: bold;
}

#projects .row .project .info h4 {
    font-size: 20px;
}

#projects .row .project .info p {
    font-size: 12px;
}

#projects .row .project:hover .info {
    opacity: 1;
    bottom: 0;
}

@media screen and (max-width: 1224px) {
    #projects {
        padding: 50px 0;
    }

    #projects .row {
        display: block;
    }

    #projects .row .project {
        margin: 10px auto;
    }

    #projects .title-section {
        text-align: left;
        margin-left: 40px;
    }
}

@media screen and (max-width: 650px) {
    #projects {
        margin-top: -80px;
        margin-bottom: 0;
    }

    #projects .title-section {
        text-align: left;
        margin-left: 50px;
        font-size: 20px;
    }
    
}

/* /////////////////////////////////////////////////////// */

/* LISTA RESEÑAS - EJEMPLOS */

.resenas-lista {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    align-content: flex-start; /* Alinea el contenido en la parte superior del contenedor */
}

.resena {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 20px;
    background: linear-gradient(to right, #444444, #555555, #666666);
    align-self: start; /* Ajusta el tamaño del contenedor de reseña al tamaño de su contenido */
}

.resena .comentario {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #000;
    border-radius: 20px;
    text-align: justify;
    font-size: 20px;
}

.resena .contenido {
    display: flex;
    align-items: center;
}

.resena .contenido img {
    border-radius: 50%;
    border: 3px solid #ef6534;
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

.resena .contenido .info {
    width: 80%;
    padding-left: 10px;
}

.resena .contenido .info {
    text-align: left;
    font-size: 18px;
}

.nombre {
    font-weight: bold;
    text-align: left;
    font-size: 18px;
}

.resena .contenido .info .profesion {
    margin-top: 5px;
    text-align: left;
    font-size: 17px;
}

@media (min-width: 651px) and (max-width: 1224px) {
    .resenas-lista {
        width: 100%;
    }

    .resena {
        width: 100%;
    }

    .resena .comentario {
        font-size: 18px;
    }

    .resena .contenido .info .nombre {
        font-size: 16px;
        color: #ffffff;
    }

    .resena .contenido .info .profesion {
        font-size: 15px;
        color: #ffffff;
    }
}

@media (max-width: 650px) {
    .resenas-lista {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .resena {
        width: 100%;
        margin-bottom: 0;
    }

    .resena .comentario {
        font-size: 16px;
    }

    .resena .contenido .info .nombre {
        font-size: 14px;
        color: #ffffff;
    }

    .resena .contenido .info .profesion {
        font-size: 13px;
        color: #ffffff;
    }
}

/* /////////////////////////////////////////////////////// */

/* FORMULARIO RESEÑAS */

#form-container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to left, #444444, #555555, #666666);
    font-size: 20px;
    border-radius: 25px;
    text-align: start;
    display: flex;
    flex-direction: column;
}

#form {
    font-size: 18px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

#form label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    flex-basis: 50%;
    color: #ffffff;
}

#form .form-group {
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-basis: 50%;
    margin-bottom: 10px;
}

#form .input-container {
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}

#form input[type="text"],
#form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    font-size: 22px;
}

#form .form-control-file {
    padding: 5px;
    margin-bottom: 0px;
    font-size: 12px;
}

#form .btn {
    border: 2px solid #ffffff;
    background-color: #333333;
    color: #ffffff;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 25px;
}

#form .btn:hover {
    background-color: #747474;
    border: 2px solid #333333;
}

@media (min-width: 651px) and (max-width: 1224px) {

    #form label,
    #form input,
    #form textarea {
        font-size: 18px;
        color: #ffffff;
    }

    #form .form-group {
        flex-basis: 50%;
    }

    #form .input-container {
        width: 100%;
    }
}

@media (max-width: 650px) {
    #form {
        flex-direction: column;
    }

    #form label {
        flex-basis: 100%;
        margin-right: 0;
    }

    #form .form-group {
        display: block;
        flex-basis: 100%;
    }

    #form .input-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    #form-container {
        margin: 10px;
    }

    #form label,
    #form input,
    #form textarea {
        font-size: 16px;
        color: rgb(255, 255, 255);
        width: 100%;
        white-space: pre-wrap;
    }
}