.headline {
    margin-top: -120px;
}

.title-container {
    text-align: left;
    font-size: 35px;
    margin-right: 10px;
    color: white;
    margin-left: 50px;
}

@media (min-width: 993px) and (max-width: 1200px) {
    .headline {
        margin-top: -150px;
    }

    .title-container {
        font-size: 30px;
        margin-right: 0;
        margin-left: 50px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .headline {
        margin-top: -180px;
    }

    .title-container {
        font-size: 24px;
        margin-right: 0;
        margin-left: 50px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .headline {
        margin-top: -250px;
    }

    .title-container {
        font-size: 20px;
        margin-right: 0;
        margin-left: 48px;
    }
}

@media (max-width: 600px) {
    .headline {
        margin-top: -200px;
    }

    .title-container {
        font-size: 14px;
        margin-right: 0;
        margin-left: 30;
    }
}

/* /////////////////////////////////////////////////////// */

.container-headline {
    margin-right: 247px;
}

.main-headline {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    position: relative;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.words-wrapper {
    display: inline-block;
    font-size: 65px;
    font-weight: bold;
    white-space: nowrap;
}

.typed-cursor {
    opacity: 1;
    animation: blink 1s infinite;
    color: orange;
    font-size: 65px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .container-headline {
        margin-right: 225px;
    }

    .words-wrapper,
    .typed-cursor {
        font-size: 50px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .container-headline {
        margin-right: 214px;
    }

    .words-wrapper,
    .typed-cursor {
        font-size: 42px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {

    .container-headline {
        margin-right: 233px;
    }

    .words-wrapper,
    .typed-cursor {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .main-headline {
        font-size: 30px;
    }

    .words-wrapper,
    .typed-cursor {
        font-size: 30px;
    }
}

/* //////////////////////////////////////////////// */

.description-text-container {
    font-size: 24px;
    color: white;
    text-align: left;
    margin-left: 50px;
}

@media (min-width: 993px) and (max-width: 1200px) {
    .description-text-container {
        font-size: 22px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .description-text-container {
        font-size: 19px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .description-text-container {
        font-size: 17px;
    }
}

@media (max-width: 600px) {
    .description-text-container {
        font-size: 15px;
    }
}

/* //////////////////////////////////////////////// */

.container-button {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    color: #000000;
    background-color: #c0c0c0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    margin: 10px 0;
    position: relative;
}

.btn:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: linear-gradient(45deg, #d9d9d9, #a6a6a6);
    border-radius: 15px;
    z-index: -1;
}

.btn-caption {
    vertical-align: middle;
}

.btn-solid {
    background-color: #c0c0c0;
}

@media (min-width: 993px) and (max-width: 1200px) {
    .container-button {
        text-align: center;
        margin-left: 50px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 20px;
        max-width: 19%;
        margin: 10px 0;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .container-button {
        text-align: left;
        margin-left: 50px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 18px;
        max-width: 18%;
        margin: 10px 0;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .container-button {
        text-align: left;
        margin-left: 40px;
    }

    .btn {
        display: block;
        padding: 8px 16px;
        font-size: 16px;
        max-width: 16%;
        margin: 10px 0;
    }
}

@media (max-width: 600px) {
    .container-button {
        text-align: left;
        margin-left: 40px;
    }

    .btn {
        display: block;
        padding: 8px 16px;
        font-size: 14px;
        max-width: 15%;
    }
}