.sidebar{
    width: 30vw;
}.headline {
    margin-top: 50px;
    
}

.title-container {
    text-align: left;
    font-size: 35px;
    margin-right: 10px;
    color: white;
    margin-left: 50px;
}

@media (min-width: 993px) and (max-width: 1200px) {
    .headline {
        margin-top: -150px;
    }

    .title-container {
        font-size: 30px;
        margin-right: 0;
        margin-left: 50px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .headline {
        margin-top: -180px;
    }

    .title-container {
        font-size: 24px;
        margin-right: 0;
        margin-left: 50px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .headline {
        margin-top: -250px;
    }

    .title-container {
        font-size: 20px;
        margin-right: 0;
        margin-left: 48px;
    }
}

@media (max-width: 600px) {
    .headline {
        margin-top: -200px;
    }

    .title-container {
        font-size: 14px;
        margin-right: 0;
        margin-left: 30;
    }
}

/* /////////////////////////////////////////////////////// */

.container-headline {
    margin-left: -425px;
}

.main-headline {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    text-transform: uppercase;
    color: #ffffff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    position: relative;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

.words-wrapper {
    display: inline-block;
    font-size: 65px;
    font-weight: bold;
    white-space: nowrap;
}

.typed-cursor {
    opacity: 1;
    animation: blink 1s infinite;
    color: orange;
    font-size: 65px;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .container-headline {
        margin-left: -200px;
    }

    .words-wrapper,
    .typed-cursor {
        font-size: 50px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .container-headline {
        margin-left: -133px;
    }

    .words-wrapper,
    .typed-cursor {
        font-size: 40px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .container-headline {
        margin-left: -225px;
    }

    .words-wrapper,
    .typed-cursor {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    .container-headline {
        margin-left: -325px;
    }

    .words-wrapper,
    .typed-cursor {
        font-size: 20px;
    }
}

/* //////////////////////////////////////////////// */

.description-text-container {
    font-size: 24px;
    color: white;
    text-align: left;
    margin-left: 50px;
}

@media (min-width: 993px) and (max-width: 1200px) {
    .description-text-container {
        font-size: 22px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .description-text-container {
        font-size: 19px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .description-text-container {
        font-size: 17px;
    }
}

@media (max-width: 600px) {
    .description-text-container {
        font-size: 15px;
    }
}

/* //////////////////////////////////////////////// */

/* BOTONES */

/* .container-button {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    border: none;
    color: #000000;
    background-color: #c0c0c0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    margin: 10px 0;
    position: relative;
}

.btn:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: linear-gradient(45deg, #d9d9d9, #a6a6a6);
    border-radius: 15px;
    z-index: -1;
}

.btn-caption {
    vertical-align: middle;
}

.btn-solid {
    background-color: #c0c0c0;
}

@media (min-width: 993px) and (max-width: 1200px) {
    .container-button {
        text-align: center;
        margin-left: 50px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 20px;
        max-width: 19%;
        margin: 10px 0;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .container-button {
        text-align: left;
        margin-left: 50px;
    }

    .btn {
        padding: 8px 16px;
        font-size: 18px;
        max-width: 18%;
        margin: 10px 0;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .container-button {
        text-align: left;
        margin-left: 40px;
    }

    .btn {
        display: block;
        padding: 8px 16px;
        font-size: 16px;
        max-width: 16%;
        margin: 10px 0;
    }
}

@media (max-width: 600px) {
    .container-button {
        text-align: left;
        margin-left: 40px;
    }

    .btn {
        display: block;
        padding: 8px 16px;
        font-size: 14px;
        max-width: 15%;
    }
} */

/* //////////////////////////////////////////////// */

/* PROJECTS SECTION */

#projects {
    max-width: 1100px;
    padding: 100px 0;
    padding-bottom: 10px;
    padding-top: 80px;
    margin: auto;
}

.project {
    background-color: black;
    border-radius: 4px;
}

#projects .title-section {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;

}

#projects .row {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    max-height: 1500px;
    flex-wrap: wrap;
    gap: 50px;
}

#projects .row .project {
    max-width: 450px;
    border: 1px solid #000;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
}

#projects .row .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    border-radius: 5px;
    border: 2px solid gray;
}

#projects .row .project:hover img {
    filter: grayscale(0.7);
    filter: blur(2px);
}

#projects .row .project .info {
    position: absolute;
    left: 0;
    background-color: rgba(49, 49, 49, 0.95);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: 0.5s;
}

#projects .row .project .info .links a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

#projects .row .project .info .links {
    display: flex;
    justify-content: space-around;
    color: #fff;
    font-weight: bold;
}

#projects .row .project .info h4 {
    font-size: 20px;
}

#projects .row .project .info p {
    font-size: 12px;
}

#projects .row .project:hover .info {
    opacity: 1;
    bottom: 0;
}

@media screen and (max-width: 800px) {
    #projects {
        padding: 50px 0;
    }

    #projects .row {
        display: block;
    }

    #projects .row .project {
        margin: 10px auto;
    }

    #projects .title-section {
        text-align: left;
        margin-left: 40px;
    }
}

@media screen and (max-width: 450px) {
    #projects {
        margin: 0px 4px 0px 4px;
    }

    #projects .title-section {
        text-align: left;
        margin-left: 50px;
        font-size: 20px;
    }
}

/*/////////////////////////////////////////////////////////*/

.contenedor-resena {
    width: 50%;
    margin: 50px auto;
    background: #acacac;
    border: 2px solid #696969;
    border-radius: 10px;
    padding: 20px;
}

#resenas-container {
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#formulario {
    text-align: left;
}

button.btn-primary {
    border: 2px solid #696969;
    background-color: #333333;
    color: #ffffff;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 25px;
}

button.btn-primary:hover {
    background-color: #747474;
    border: 2px solid #333333;
}

@media (min-width: 993px) and (max-width: 1200px) {
    .contenedor-resena {
        margin-top: 100px;
        width: 40%;
        font-size: 14px;
    }

    button.btn-primary {
        margin: 10px auto;
    }
}

@media (min-width: 769px) and (max-width: 992px) {

    .contenedor-resena {
        width: 80%;
        font-size: 12px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .contenedor-resena {
        width: 80%;
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    .contenedor-resena {
        width: 80%;
        font-size: 12px;
    }
}

/*///////////////////////////////////////////////////////*/

#resenas-lista {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reseña {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.reseña .comentario {
    font-style: italic;
    margin-bottom: 10px;
    text-align: justify;
}

.reseña .contenido {
    display: flex;
    align-items: center;
}

.reseña .contenido img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #000000;
    margin-right: 10px;
}

.reseña .contenido .info {
    display: flex;
    flex-direction: column;
}

.reseña .contenido .info .nombre {
    font-weight: bold;
}

.reseña .contenido .info .profesion {
    margin-top: 5px;
}

@media (min-width: 993px) and (max-width: 1200px) {
    .reseña {
        font-size: 14px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {

    #resenas-container.contenedor-resena {
        width: 80%;
    }

    .reseña {
        width: 100%;
        font-size: 12px;
    }
}

@media (min-width: 601px) and (max-width: 768px) {

    #resenas-container.contenedor-resena {
        width: 80%;
    }

    .reseña {
        width: 100%;
        font-size: 10px;
    }
}

@media (max-width: 600px) {

    #resenas-container.contenedor-resena {
        width: 80%;
    }

    .reseña {
        width: 100%;
        font-size: 10px;
    }
}