#app {
  display: flex;
  flex-direction: row;
}

.personas-sidebar {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.persona1 {
  margin-top: 40px;
}

.persona1 img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 80px;
  border-radius: 50%;
}

.persona2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.persona2 img {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 80px;
  border-radius: 50%;
}

.logoSidebar img {
  border-radius: 20px;
  width: 120px;
  display: block;
  margin: auto;
}

.sidebar {
  background-color: #f5f4f2;
  background-image: url(./assets/pattern-color-1.svg);
  background-position: top left;
  background-size: 52px 30px;
  width: 30vw;
  /* margin-top: 35px; */
  margin-left: 50px;
}

#info-sidebar {
  font-weight: 500;
  color: #252525;
  margin: 40px;
  margin-top: 35px;
  font-family: "Open Sans", sans-serif;
}

.boton-contacto {
  text-align: center;
}
.boton-contacto button {
  background-color: #ef6534;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.button-custom {
  border: none;
  border-radius: 5px;
}

#info-sidebar span {
  font-weight: bold;
  color: #ef6534;
}

#form-sidebar {
  display: none;
}

#form-sidebar {
  margin-right: 20px;
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
  /* width: 500px; */
}

form {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  border-radius: 40px;
  height: 40px;
}

.form-buttons {
  margin-left: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-buttons button {
  background-color: #ef6534;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

::placeholder {
  font-size: 15px;
}

.mensaje textarea {
  background-color: #e9e9e9;
  border: 2px solid #e9e5e5;
  border-radius: 5px;
  border: 1px groove rgb(148, 148, 148);
  padding: 10px;
  width: 270px;
  margin-left: 36px;
}

.form-control {
  text-align: center;
  background-color: #e9e9e9;
  border: 2px solid #a8a8a8;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
}

@media screen and (max-width: 1024px) {
  #app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .avatares {
    display: flex;
    justify-content: space-around;
  }

  .sidebar {
    font-weight: bold;
    margin: 0;
    width: 100vw;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  form textarea {
    background-color: #e9e9e9;
    border: 2px solid #a8a8a8;
    margin-left: 10px;
    height: 140px;
    width: 200px;
    border-radius: 40px;
    padding: 10px;
    border-radius: 15px;
  }

  #asunto {
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logoSidebar img {
    margin: 50px;
    width: 100px;
  }
  #info-sidebar span {
    font-size: 18px;
    font-weight: bold;
    color: #ef6534;
  }

  .form-buttons {
    margin-bottom: 20px;
    margin-top: 2px;
    margin-left: 47px;
  }
}