@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

* {
  margin: 0;
  padding: 0px;
  font-family: "Raleway";
  /*     cursor: crosshair; */
}
::-webkit-srollbar {
  width: 10px;
}
::-webkit-scrollbar {
  background-color: silver;

  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #e54912;
  border-radius: 8px;
}

body {
  background-color: black;
  overflow-x: hidden;
}
.video-intro {
  height: auto;
}
#particles-js {
	height: 150vh; 
	width: 70vw;
    position: fixed;
    z-index: -999;
}

.header-CieloOk {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-family: "Raleway";
  min-height: 100vh;
  position: relative;
  z-index: 99;
}
.js-logoMakisan {
  width: 40%;
  height: 20%;
  margin: 30px 0 0 30px;
}

.cielo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  /*     background-image: url("./imagenes/poseidon.png");   /ACA VA EL FONDO   */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Roboto, Arial, sans-serif;
}
.cielo ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 30px;
  padding-top: 35px;
  height: 100px;
}

.cielo ul li {
  color: white;
  list-style: none;
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  font-weight: bold;
}
.cielo ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  position: relative;

  font-size: 1.2rem;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.cielo ul li a::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #e54912;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s; /*  ease-in-out */
}

.cielo ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: center;
}

.cielo-servicios {
  text-decoration: none;
  color: green;
  transition: all 0.7s;
  text-underline-offset: 40%;
}

.offcanvas-start {
  width: 70vw;
  /*   margin-top: 16vh; */
}

.titulo-de-desplegable {
  color: silver;
  padding: 40px 0px 0px 0px;
  font-size: 3.5rem;
  display: inline-block;
  position: relative;
  text-decoration: none;
  border-bottom: 3px solid #e54912;
  padding-bottom: 3px;
}

.textoYfoto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  padding-top: 50px;
  min-height: auto;
  max-height: auto;
  overflow: scroll;
  overflow-x: hidden;
}
#offcanvas1 {
  height: 1000px;
}

.texto-de-desplegable {
  color: #4a4a4a;
  padding: 30px 0px 0px 10px;
  font-size: 2rem;
  width: 600px;
}
.fotoDelTexto {
  width: 400px;
  padding: 40px 0px 0px 20px;
}

.offcanvas-header .btn-close {
  margin: -40px 40px 0px 0px;
}

.orangeText {
  color: #e54912;
}

/* EMPIEZAN QUERIES */
@media (min-width: 1024px) {
  
  .ocultoSiEsMayorDe1000px {
    display: none;
  }
}

@media (max-width: 1024px) {
  #particles-js {
    height: 100vh; 

      position: static;
      width: 100vw;

  }
  
  .header-CieloOk {
    height: auto;
  }
  
  .cieloLista {
    display: none !important ;
  }
  /*   .texto-de-desplegable {
    font-size: 2rem;

  } */
  .ocultoSiEsMayorDe1000px {
    display: show;
    background-color: #fbfbfa;
  }
  .titulo-de-desplegable {
    margin-left: 40px;
  }
  .textoYfoto{
    overflow: auto;
    padding-top: 10px;
  }
  
}

@media (max-width: 650px) {
.titulo-de-desplegable{
  font-size: 2rem;}
  .texto-de-desplegable {
    font-size: 1rem;
    padding-left: 0px;
    width: 350px;

  } 



}
